div.carousel {
  margin-top: 30px;
  overflow: hidden;
  height: 100px;
}
.container {
  width: 840px;
  margin: 0 auto;
}
.slideshow {
  width: 800px;
  overflow: hidden;
  padding: 0 20px;
  margin-bottom: 20px;
  border: 5px solid #999;
}
.slides {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.slide {
  float: left;
  width: 360px;
  height: 150px;
  padding: 20px;
}

code {
  background: #ccc;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.nav a {
  display: inline-block;
  margin: 0;
  padding: 0.2em 0.5em;
  color: #00a3cb;
  text-decoration: none;
}
.nav a:hover {
  color: #00436b;
}
.nav a.vis,
.nav a.vis:hover {
  background-color: #aaa;
  color: white;
}
.nav a.active,
.nav a.active:hover {
  background-color: #00a3cb;
  color: white;
}
