/* comfortaa-regular - latin */
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/comfortaa-v40-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/comfortaa-v40-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/comfortaa-v40-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/comfortaa-v40-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/comfortaa-v40-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/comfortaa-v40-latin-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
  }

  /* caveat-regular - latin */
@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/caveat-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/caveat-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/caveat-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/caveat-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/caveat-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/caveat-v17-latin-regular.svg#Caveat') format('svg'); /* Legacy iOS */
  }

  /* carter-one-regular - latin */
@font-face {
    font-family: 'Carter One';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/carter-one-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/carter-one-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/carter-one-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/carter-one-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/carter-one-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/carter-one-v17-latin-regular.svg#CarterOne') format('svg'); /* Legacy iOS */
  }

  /* noto-sans-georgian-regular - latin */
@font-face {
    font-family: 'Noto Sans Georgian';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/noto-sans-georgian-v36-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/noto-sans-georgian-v36-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/noto-sans-georgian-v36-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/noto-sans-georgian-v36-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/noto-sans-georgian-v36-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/noto-sans-georgian-v36-latin-regular.svg#NotoSansGeorgian') format('svg'); /* Legacy iOS */
  }